.git/

.env
.DS_Store
*/.DS_Store
.idea/
.__pycache__/
.pytest_cache/
logs/
locust_files/
.gitignore
.github/
.gitlab-ci.yml
README.md.idea/
/outputs
.coverage
*.log
catboost_info/
*.egg-info
# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb
.vscode/

.dockerignore
.isort.cfg
Dockerfile
lint_python.sh
README.md

data/
logs/
cmd/

# Local History for Visual Studio Code
.history/
.cache

docker-compose.*
*.conf
!nginx.conf

node_modules/