@import "./globals.scss";

a {
    cursor: pointer;
}

.warning {
    background-color: $background !important;
    border: 1px solid $error !important;
    color: $error !important;

    &:hover {
        color: $background !important;
        background-color: $error !important;
    }
}

.warning-bg {
    background-color: $error !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media (min-width: 640px) {
    .sm\:no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}